
@{
	ViewBag.Title = "changePassword";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
	@using (Html.BeginForm("changePassword",
	  "Auth",
	  FormMethod.Post,
	  new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-header"><h3 class="text-center font-weight-light my-4">Change your password</h3></div>
						<div class="card-body">
							<form>
								<div class="row mb-3">
									
								</div>
								<div class="form-floating mb-3">
									<input class="form-control" name="oldpassword" id="inputEmail" type="password" placeholder="name@example.com" />
									<label for="inputEmail">Old password</label>
								</div>
								<div class="row mb-3">
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control" name="newpassword" id="inputPassword" type="password" placeholder="Create a password" />
											<label for="inputPassword"> New Password</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control" name="password2" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
											<label for="inputPasswordConfirm">Confirm Password</label>
										</div>
									</div>
								</div>
								<div class="mt-4 mb-0">
									<div>
										<span style="margin-bottom:10px" class='text-danger'>@Html.Raw(ViewBag.Error)</span>

									</div>
									<button class="d-grid btn btn-primary btn-block" type="submit"> Save</button>
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	}
</main>


